.block_slider-wrapper {
	position: relative;
	overflow: hidden;
	border: 10px solid navy;
	border-bottom-width: 6px;
	width: 400px;
	height: 250px;
}

.block_slider-wrapper .contentdiv {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
	background: white;
	width: 390px;
	height: 100%;
	filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.pagination {
	width: 400px;
	text-align: right;
	background-color: navy;
	padding: 5px 10px;
}

.pagination a {
	padding: 0 5px;
	text-decoration: none; 
	color: #00007D;
	background: white;
}

.pagination a:hover, .pagination a.selected {
	color: #000;
	background-color: #FEE496;
}